<body>
  <!--head-starts-->
  <div class="header" id="home">
      <div class="header-top">
          <nav class="navbar navbar-default nav-dflt-setin">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header nav-min-wid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html">Interient</a></h1>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                  
                  <ul class="nav navbar-nav nav-max-wid cl-effect-5" id="cl-effect-5">
                    <li role="presentation"><a [routerLink]="['/pocetna']" [routerLinkActive]="['active']"><span data-hover="Pocetna">Pocetna</span></a></li>
                    <li role="presentation"><a [routerLink]="['/o-nama']" [routerLinkActive]="['active']"><span data-hover="O Nama">O Nama</span></a></li>
              <li><a href="services.html"><span data-hover="Services">Services</span></a></li>
              <li><a href="gallery.html"><span data-hover="Gallery">Gallery</span></a></li>
              <li><a href="typography.html"><span data-hover="Short Codes">Short Codes</span></a></li>
              <li><a href="contact.html"><span data-hover="Contact">Contact</span></a></li>
                  </ul>
                  
                  <ul class="nav navbar-nav nav-min-wid social">
                      <li><a href="#" class="fb"></a></li>
                      <li><a href="#" class="twit"></a></li>
                      <li><a href="#" class="gplus"></a></li>
                      <li><a href="#" class="inst"></a></li>
                  </ul>
                  
              </div><!-- /.navbar-collapse -->
          <div class="clearfix"></div>
            </div><!-- /.container-fluid -->
          </nav>
      </div>
  </div>
  <!--header-ends-->
  
  <!--about-->
  <div class="about-content">
      <div class="about-top">
          <div class="container">
              <h2>About</h2>
              <div class="row">
                  <div class="col-sm-4 col-xs-6 about-grid abt-brp">
                    <img src="assets/images/abt.jpg" class="img-circle abt-img" alt="" />
                    <h3>john Doe</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>
                    
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-4 col-xs-6 about-grid abt-brp">
                    <img src="assets/images/abt3.jpg" class="img-circle abt-img" alt="" />
                    <h3>Rachel</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>
                    
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-4 col-xs-12 about-grid abt-brp">
                    <img src="assets/images/abt2.jpg" class="img-circle abt-img t" alt="" />
                    <h3>Richard</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>
                    
                  </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
          </div>
      </div>
      <!--about-top-->
      <div class="about-bottom">
          <div class="container">
              <h4>A Few words about us</h4>
                  <div class="col-sm-7 col-xs-12 about-btm-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse non urna mi, quis tincidunt eros. Nullam tellus turpis, fringilla sit amet congue ut, luctus a nulla. Donec sit amet sapien neque, id ullamcorper diam. Nulla facilisi. Pellentesque pellentesque arcu a elit congue lacinia.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse.</p>
                  </div>
                  <div class="col-sm-5 col-xs-12 slide-about">
                      <div class="side">
                          <div  id="top" class="callbacks_container">
                              <ul class="rslides about-slides" id="slider4">
                                  <li>
                                  <img src="assets/images/proj.jpg" class="img-abt-grid" alt="" />
                                  </li>
                                  <li>
                                  <img src="assets/images/proj1.jpg" class="img-abt-grid" alt="" />
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="clearfix"> </div>
                  </div>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="about-testimonials">
          <div class="container">
              <h3 class="test">Testimonials</h3>
              <div class="col-sm-4 col-xs-6 test-bkp">
                  <div class="test-mon">
                      <h3>lorem ipsum</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-6 test-bkp">
                  <div class="test-mon">
                      <h3>lorem ipsum</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-12 test-bkp">
                  <div class="test-mon">
                      <h3>lorem ipsum</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
  <!--about-ends-->
  
  <!--footer-starts-->
  <div class="footer">
      <div class="ft-top">
          <div class="container">
              <div class="social-media">
                  <h3>social media</h3>
                  <span></span>
                  <ul>
                      <li><a href="#" class="ftfb"></a></li>
                      <li><a href="#" class="fttwt"></a></li>
                      <li><a href="#" class="ftinst"></a></li>
                      <li><a href="#" class="ftdrib"></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="ft-bottom">
          <div class="container">
              <p>&copy; 2016 Interient. All Rights Reserved. Design By <a href="http://www.w3layouts.com">W3layouts.</a></p>
          </div>
      </div>
<a (click)="scrollUp()" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
<!--footer-ends-->
</body>
